<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stupagecss.css"link>
    <link rel="wwaynejs" href="stupagejs.js"link>
    <link rel="phpconn" href="stupagephp.php"link>
    <title>Student page</title>

    <style>
        img{
            max-height: 100%;
            max-width: 100%;
        }
        .site-logo{
            width: 160px;
            height: 70px;
        }
    </style>

</head>

<body>
<header class="header-area">
  <!-- site-navbar start -->
  <div class="navbar-area">
    <div class="container">
      <nav class="site-navbar">
        <!-- site logo -->
        <a href="#home" class="site-logo">
            <img src="Logo final foreal.png"class="site-logo">
        </a>

        <!-- site menu/nav -->
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>

        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div><!-- navbar-area end -->

  <div class="intro-area">
    <div class="container">
      <h2>Daeyang University</h2>
      <p>Soli Deo</p>
      <main class="table">
        <section class="t-header">
          <h1>Student's results</h1>
        </section>
        <section class="t-body">
          <table>
            <thead>
              <tr>
                <th> Course </th>
                <th> Percentage </th>
                <th> GPA </th>
                <th> Grade </th>
                <th> ID </th>
                <th> ID </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> BICT1201 </td>
                <td> 92% </td>
                <td> 3.9 </td>
                <td> A </td>
                <td> 5 </td>
                <td> 6 </td>
              </tr>
            </tbody>
          </table>
        </section>
      </main>
   
    </div>
  </div>
</header>
</body>
</html>